
<div class="container-fluid bg-azul">
  <div class="row">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/assets/standard-logo-dark-bg.svg" alt="" width="272">
        <h2 class="h4 d-block mt-5">LISTADO DE CLIENTES</h2>
      </div>
  </div>
</div>

<div class="container">
  <div class="row py-5">
      <router-outlet></router-outlet>
  </div>
</div>

<div class="container">
  <div class="row">
    <footer class="mb-5 text-muted text-center text-small">
      <p>© Mayo 2022 Test para Roshka : Sergio Ballestero</p>
    </footer>
  </div>
</div>

