:root {
    --blanco: #ffffff;
    --azulroshka: #114f97;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color:var(--azulroshka);
}

.bg-azul {
    background: var(--azulroshka);
    color: var(--blanco);
}

#btn-editar{
    color: var(--blanco);
}

.mr-auto {
    margin-right: auto;
}